postgresql:
  image: "postgres:14.1-alpine"
  persistence:
    enabled: false
  resources:
    requests:
      cpu: "2000m"
      memory: "1Gi"
    limits:
      cpu: "6000m"
      memory: "3Gi"
  servicePort: 5432
  env:
    POSTGRES_DB: "cpsdb"
    POSTGRES_USER: "cps"
    POSTGRES_PASSWORD: "cps"
  initSql:
    enabled: false
    configMapName: postgres-init-sql
    mountPath: /docker-entrypoint-initdb.d
  livenessProbe:
    exec:
      command:
        - sh
        - -c
        - pg_isready -U cps
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 3
  readinessProbe:
    exec:
      command:
        - sh
        - -c
        - pg_isready -U cps -d cpsdb
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 3
    failureThreshold: 6

cps:
  image:
    repository: "nexus3.onap.org:10003/onap/cps-and-ncmp"
    tag: "latest"
    pullPolicy: Always
  replicas: 2
  servicePort: 8080
  service:
    type: NodePort
    port: 8080
    nodePort: 30080
  resources:
    requests:
      cpu: "2000m"
      memory: "3Gi"
    limits:
      cpu: "6000m"
      memory: "5Gi"
  livenessProbe:
    # Give cps up to 170 seconds to become alive
    httpGet:
      path: /actuator/health/liveness
      port: 8080
    initialDelaySeconds: 120
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
  readinessProbe:
    # After CPS is alive it can take up to 110 seconds to be ready for requests
    httpGet:
      path: /actuator/health/readiness
      port: 8080
    initialDelaySeconds: 60
    periodSeconds: 10
    timeoutSeconds: 5
    failureThreshold: 5
  env:
    DB_HOST: "cps-ncmp-postgresql-service"
    DB_USERNAME: "cps"
    DB_PASSWORD: "cps"
    DB_NAME: "cpsdb"
    SPRING_DATASOURCE_URL: "jdbc:postgresql://cps-ncmp-postgresql-service:5432/cpsdb"
    SPRING_DATASOURCE_USERNAME: "cps"
    SPRING_DATASOURCE_PASSWORD: "cps"
    DMI_USERNAME: "cpsuser"
    DMI_PASSWORD: "cpsr0cks!"
    SPRING_KAFKA_BOOTSTRAP_SERVERS: "cps-ncmp-kafka-service:9092"
    SPRING_KAFKA_CONSUMER_BOOTSTRAP_SERVERS: "cps-ncmp-kafka-service:9092"
    SPRING_KAFKA_PRODUCER_BOOTSTRAP_SERVERS: "cps-ncmp-kafka-service:9092"
    notification_enabled: "true"
    ONAP_TRACING_ENABLED: "false"
    ONAP_OTEL_SAMPLER_JAEGER_REMOTE_ENDPOINT: "http://jaeger-service:14250"
    ONAP_OTEL_EXPORTER_ENDPOINT: "http://jaeger-service:4317"
    POLICY_SERVICE_ENABLED: "false"
    POLICY_SERVICE_DEFAULT_DECISION: "deny from env"
    POLICY_SERVICE_PORT: "8094"
    POLICY_SERVICE_URL: "http://cps-ncmp-policy-executor-stub-service"
    CPS_MONITORING_MICROMETER_JVM_EXTRAS: "true"
    JAVA_TOOL_OPTIONS: "-XX:InitialRAMPercentage=70.0 -XX:MaxRAMPercentage=70.0"
    HAZELCAST_MODE_KUBERNETES_ENABLED: "true"
    NCMP_INVENTORY_MODEL_UPGRADE_R20250722_ENABLED: 'false'

kafka:
  enabled: true
  image:
    repository: confluentinc/cp-kafka
    tag: 7.8.0
    pullPolicy: IfNotPresent
  replicaCount: 1
  service:
    type: ClusterIP
    ports:
      internal: 29092
      external: 9092
  externalService:
    ports:
      internal: 9092
      external: 9093
    nodePorts:
      external: 30093
  env:
    KAFKA_ZOOKEEPER_CONNECT: "cps-ncmp-zookeeper-service:2181"
    KAFKA_ZOOKEEPER_CONNECTION_TIMEOUT_MS: "60000"
    KAFKA_ZOOKEEPER_SESSION_TIMEOUT_MS: "60000"
    KAFKA_BROKER_ID: "1"
    KAFKA_LISTENERS: "INTERNAL://0.0.0.0:29092,EXTERNAL://0.0.0.0:9092,NODEPORT://0.0.0.0:9093"
    KAFKA_ADVERTISED_LISTENERS: "INTERNAL://cps-ncmp-kafka-service:29092,EXTERNAL://cps-ncmp-kafka-service:9092,NODEPORT://localhost:30093"
    KAFKA_INTER_BROKER_LISTENER_NAME: "INTERNAL"
    KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,NODEPORT:PLAINTEXT"
    KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: "1"
    KAFKA_RESTART_ATTEMPTS: "10"
    KAFKA_RESTART_DELAY_MS: "5000"
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "2000m"
      memory: "2Gi"
  livenessProbe:
    tcpSocket:
      port: 29092
    initialDelaySeconds: 60
    periodSeconds: 30
    failureThreshold: 5
    timeoutSeconds: 10
  readinessProbe:
    tcpSocket:
      port: 29092
    initialDelaySeconds: 5
    periodSeconds: 3
    timeoutSeconds: 3
    failureThreshold: 3

zookeeper:
  enabled: true
  image:
    repository: confluentinc/cp-zookeeper
    tag: 7.8.0
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 2181
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"
  env:
    ZOOKEEPER_CLIENT_PORT: 2181
  livenessProbe:
    exec:
      command: [ "sh", "-c", "nc -z localhost 2181 || exit 1" ]
    initialDelaySeconds: 15
    periodSeconds: 5
    failureThreshold: 3
  readinessProbe:
    exec:
      command: [ "sh", "-c", "nc -z localhost 2181 || exit 1" ]
    initialDelaySeconds: 5
    periodSeconds: 3
    timeoutSeconds: 3
    failureThreshold: 3

dmiStub:
  enabled: true
  image:
    repository: nexus3.onap.org:10003/onap/dmi-stub
    tag: "1.8.0-SNAPSHOT"
    pullPolicy: IfNotPresent
  replicaCount: 1
  deployment1:
    containerPort: 8092
  service1:
    type: NodePort
    port: 8092
    nodePort: 30092
  deployment2:
    containerPort: 8093
  service2:
    type: NodePort
    port: 8092
    nodePort: 30094
  env:
    KAFKA_BOOTSTRAP_SERVER: "cps-ncmp-kafka-service:9092"
    NCMP_CONSUMER_GROUP_ID: "ncmp-group"
    NCMP_ASYNC_M2M_TOPIC: "ncmp-async-m2m"
    MODULE_INITIAL_PROCESSING_DELAY_MS: 180000
    MODULE_REFERENCES_DELAY_MS: 100
    MODULE_RESOURCES_DELAY_MS: 1000
    READ_DATA_FOR_CM_HANDLE_DELAY_MS: 300
    WRITE_DATA_FOR_CM_HANDLE_DELAY_MS: 670
  resources:
    requests:
      cpu: "100m"
      memory: "350Mi"
    limits:
      cpu: "1000m"
      memory: "2Gi"
  livenessProbe:
    httpGet:
      path: /actuator/health/liveness
      port: 8092
    initialDelaySeconds: 30
    periodSeconds: 15
    failureThreshold: 3
    timeoutSeconds: 5
  readinessProbe:
    httpGet:
      path: /actuator/health/readiness
      port: 8092
    initialDelaySeconds: 15
    periodSeconds: 5
    failureThreshold: 3
    timeoutSeconds: 5

policyExecutorStub:
  enabled: true
  image:
    repository: nexus3.onap.org:10003/onap/policy-executor-stub
    tag: "latest"
    pullPolicy: IfNotPresent
  replicaCount: 1
  service:
    type: NodePort
    port: 8094
    nodePort: 30095
  env:
    POLICY_SERVICE_PORT: 8094
  resources:
    requests:
      cpu: "100m"
      memory: "350Mi"
    limits:
      cpu: "1000m"
      memory: "2Gi"