*.class
*.jar
*.war
*.log
*.log.zip
*.*~

cps-ncmp-rest-stub/dependency-reduced-pom.xml
cps-application/archunit_store
cps-ri/src/main/resources/changelog/db/changes/data/dmi/generated-csv/generated_yang_resource_*
checkstyle/src/main/__pycache__/
docs/venv/
docs/__pycache__/
target/
log/

.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.DS_Store

.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
.checkstyle

/.tox
/__pycache__/*

/docs/docs/
/docs/.vscode/
/docs/_build/*

/test-tools/metrics-reports/

csit/env.properties
csit/archives/

/k6-tests/image/
k6-tests/ncmp/config/kpi-scenario-execution-definition.json
/k6-tests/ncmp/*Summary.csv
/k6-tests/ncmp/scenario-javascript.js