*.class
*.jar
*.war
*.log
*.log.zip
*.*~

cps-ncmp-rest-stub/dependency-reduced-pom.xml
cps-application/archunit_store
cps-ri/src/main/resources/changelog/db/changes/data/dmi/generated-csv/generated_yang_resource_*
target/
log/

.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.DS_Store

.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
.checkstyle

/.tox
/__pycache__/*

/docs/docs/
/docs/.vscode/
/docs/_build/*

/test-tools/metrics-reports/

csit/env.properties
csit/archives/
