*.class
*.jar
*.war
*.zip
*.log

target/
log/

.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.DS_Store

.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
.checkstyle

/.tox
/_build/*
/__pycache__/*

/docs/docs/
/docs/.vscode/