[project]
	description = \"cps\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-cps-committers
	forgeCommitter = group saml/lf-gerrit-transfer
	pushMerge = group self-serve-release
[access "refs/for/refs/heads/*"]
	pushMerge = group saml/lf-gerrit-transfer
	forgeCommitter = group saml/lf-gerrit-transfer
	forgeAuthor = group saml/lf-gerrit-transfer
[plugin "its-jira"]
	enabled = false
