# ============LICENSE_START=======================================================
# Copyright (c) 2020 Pantheon.tech.
# Modifications Copyright (C) 2021 Bell Canada.
# Modifications Copyright (C) 2022-2025 OpenInfra Foundation Europe.
# ================================================================================
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ============LICENSE_END=========================================================

services:

  ### docker-compose --profile dmi-service up -d --wait -> run CPS services incl. dmi-plugin
  ### docker-compose --profile dmi-stub --profile monitoring up -d -> run CPS with stubbed dmi-plugin (for registration performance testing)
  ### docker-compose --profile dmi-stub --profile tracing up -d -> run CPS with stubbed dmi-plugin (for open telemetry tracing testing make ONAP_TRACING_ENABLED "true" later "http://localhost:16686" can be accessed from browser)
  ### docker-compose --profile dmi-stub --profile policy-executor-stub up -d -> run CPS with stubbed dmi-plugin and policy executor stub (for policy executor service testing make POLICY_SERVICE_ENABLED "true")
  ### to disable notifications make notification.enabled to false & comment out kafka/zookeeper services
  ### DEBUG: Look for '### DEBUG' comments to enable CPS-NCMP debugging
  ### docker-compose --profile dmi-stub --project-name endurance --env-file env/endurance.env up -d -> run CPS with stubbed dmi-plugin for endurance testing
  ### docker-compose --profile dmi-stub --project-name endurance down --volumes

  dbpostgresql:
    container_name: ${DB_CONTAINER_NAME:-dbpostgresql}
    image: postgres:14.1-alpine
    ports:
      - ${DB_PORT:-5432}:5432
    environment:
      POSTGRES_DB: cpsdb
      POSTGRES_USER: ${DB_USERNAME:-cps}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-cps}
    volumes:
      - ./config/postgres-init.sql:/docker-entrypoint-initdb.d/postgres-init.sql
    deploy:
      resources:
        reservations:
          cpus: '1'
          memory: 1G
        limits:
          cpus: '6'
          memory: 3G
    healthcheck:
      test: pg_isready || exit 1 # This command runs inside the container, returning 0 for success, non-zero for failure.
      timeout: 10s               # Time-out of the above test command.
      interval: 10s              # How often the health is run.
      retries: 3                 # If 3 health checks fail, the container is unhealthy.
      start_period: 30s          # Ignore failed health checks for first 30 seconds, to give system time to start
      # Full start up time allowed = 30 seconds start period + 3 tries * 10 seconds interval = 60 seconds

  cps-and-ncmp:
    image: ${DOCKER_REPO:-nexus3.onap.org:10003}/onap/cps-and-ncmp:${CPS_VERSION:-latest}
    ports:
      - ${CPS_PORT_RANGE:-8698-8699}:8080
      ### DEBUG: Uncomment next line to enable java debugging (ensure 'ports' aligns with 'deploy')
      ### - ${CPS_CORE_DEBUG_PORT:-5005}:5005-
    environment:
      CPS_USERNAME: ${CPS_CORE_USERNAME:-cpsuser}
      CPS_PASSWORD: ${CPS_CORE_PASSWORD:-cpsr0cks!}
      DB_HOST: ${DB_HOST:-dbpostgresql}
      DB_USERNAME: ${DB_USERNAME:-cps}
      DB_PASSWORD: ${DB_PASSWORD:-cps}
      DMI_USERNAME: ${DMI_USERNAME:-cpsuser}
      DMI_PASSWORD: ${DMI_PASSWORD:-cpsr0cks!}
      KAFKA_BOOTSTRAP_SERVER: kafka:29092
      notification.enabled: 'true'
      ONAP_TRACING_ENABLED: 'false'
      ONAP_OTEL_SAMPLER_JAEGER_REMOTE_ENDPOINT: http://jaeger-service:14250
      ONAP_OTEL_EXPORTER_ENDPOINT: http://jaeger-service:4317
      POLICY_SERVICE_ENABLED: 'false'
      POLICY_SERVICE_DEFAULT_DECISION: 'deny from env'
      CPS_MONITORING_MICROMETER_JVM_EXTRAS: 'true'
      JAVA_TOOL_OPTIONS: "-XX:InitialRAMPercentage=70.0 -XX:MaxRAMPercentage=70.0"
      ### DEBUG: Uncomment next line to enable java debugging
      # JAVA_TOOL_OPTIONS: -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005
    restart: on-failure:3
    depends_on:
      - dbpostgresql
    deploy:
      ### DEBUG: For easier debugging use just 1 instance (also update docker-compose/config/nginx/nginx.conf !)
      replicas: 2
      resources:
        limits:
          cpus: '3'
          memory: 3G
    memswap_limit: 3G
    healthcheck:
      test: wget -q -O - http://localhost:8080/actuator/health/readiness | grep -q '{"status":"UP"}' || exit 1
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 60s

  nginx:
    container_name: ${NGINX_CONTAINER_NAME:-nginx-loadbalancer}
    image: nginx:latest
    ports:
      - ${CPS_CORE_PORT:-8883}:80
    depends_on:
      - cps-and-ncmp
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./config/nginx/proxy_params:/etc/nginx/proxy_params
    healthcheck:
      test: curl -fs http://localhost/actuator/health/readiness || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 60s

  ### if kafka is not required comment out zookeeper and kafka ###
  zookeeper:
    image: confluentinc/cp-zookeeper:7.8.0
    container_name: ${ZOOKEEPER_CONTAINER_NAME:-zookeeper}
    ports:
      - ${ZOOKEEPER_PORT:-2181}:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    healthcheck:
      test: nc -z localhost 2181 || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  kafka:
    image: confluentinc/cp-kafka:7.8.0
    container_name: ${KAFKA_CONTAINER_NAME:-kafka}
    ports:
      - ${KAFKA_PORT:-9092}:9092
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONNECTIONS_FROM_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,CONNECTIONS_FROM_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: kafka-topics --bootstrap-server kafka:29092 --list || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  ncmp-dmi-plugin:
    container_name: ${NCMP_DMI_PLUGIN_CONTAINER_NAME:-ncmp-dmi-plugin}
    image: ${DOCKER_REPO:-nexus3.onap.org:10003}/onap/ncmp-dmi-plugin:${DMI_VERSION:-1.7.0-SNAPSHOT-latest}
    ports:
      - ${DMI_PORT:-8783}:8080
    depends_on:
      - sdnc
      - pnf-simulator
    environment:
      CPS_USERNAME: ${CPS_CORE_USERNAME:-cpsuser}
      CPS_PASSWORD: ${CPS_CORE_PASSWORD:-cpsr0cks!}
      CPS_CORE_HOST: ${CPS_CORE_HOST:-nginx}
      CPS_CORE_PORT: ${CPS_CORE_PORT:-80}
      CPS_CORE_USERNAME: ${CPS_CORE_USERNAME:-cpsuser}
      CPS_CORE_PASSWORD: ${CPS_CORE_PASSWORD:-cpsr0cks!}
      SDNC_HOST: ${SDNC_HOST:-sdnc}
      SDNC_PORT: ${SDNC_PORT:-8181}
      SDNC_USERNAME: ${SDNC_USERNAME:-admin}
      SDNC_PASSWORD: ${SDNC_PASSWORD:-Kp8bJ4SXszM0WXlhak3eHlcse2gAw84vaoGGmJvUy2U}
      DMI_SERVICE_URL: ${DMI_SERVICE_URL:-http://ncmp-dmi-plugin:8783}
      DMI_SERVICE_NAME: ${DMI_SERVICE_NAME:-dminame1}
      DMI_USERNAME: ${DMI_USERNAME:-cpsuser}
      DMI_PASSWORD: ${DMI_PASSWORD:-cpsr0cks!}
      KAFKA_BOOTSTRAP_SERVER: kafka:29092
    restart: unless-stopped
    profiles:
      - dmi-service
    healthcheck:
      test: wget -q -O - http://localhost:8080/actuator/health/readiness | grep -q '{"status":"UP"}' || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  ncmp-dmi-plugin-demo-and-csit-stub:
    container_name: ${NCMP_DMI_PLUGIN_DEMO_AND_CSIT_STUB_CONTAINER_NAME:-ncmp-dmi-plugin-demo-and-csit-stub}
    image: ${DOCKER_REPO:-nexus3.onap.org:10003}/onap/dmi-stub:${DMI_DEMO_STUB_VERSION:-latest}
    ports:
      - ${DMI_DEMO_STUB_PORT:-8784}:8092
    environment:
      KAFKA_BOOTSTRAP_SERVER: kafka:29092
      NCMP_CONSUMER_GROUP_ID: ncmp-group
      NCMP_ASYNC_M2M_TOPIC: ncmp-async-m2m
      MODULE_INITIAL_PROCESSING_DELAY_MS: 180000
      MODULE_REFERENCES_DELAY_MS: 100
      MODULE_RESOURCES_DELAY_MS: 1000
      READ_DATA_FOR_CM_HANDLE_DELAY_MS: 300
      WRITE_DATA_FOR_CM_HANDLE_DELAY_MS: 670
    restart: unless-stopped
    profiles:
      - dmi-stub
    healthcheck:
      test: wget -q -O - http://localhost:8092/actuator/health/readiness | grep -q '{"status":"UP"}' || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  sdnc:
    container_name: sdnc
    image: onap/sdnc-image:${SDNC_VERSION:-2.2.3}
    entrypoint: /opt/onap/sdnc/bin/startODL.sh
    ports:
      - 8181:8181
    depends_on:
      sdnc-db:
        condition: service_healthy
    hostname: sdnc
    links:
      - sdnc-db:dbhost
      - sdnc-db:sdnctldb01
      - sdnc-db:sdnctldb02
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
      - MYSQL_USER=${MYSQL_USER:-sdnc}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-password}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-sdncdb}
      - SDNC_CONFIG_DIR=/opt/onap/sdnc/data/properties
      - SDNC_BIN=/opt/onap/sdnc/bin
      - ODL_CERT_DIR=/opt/opendaylight/certs
      - ODL_ADMIN_USERNAME=${SDNC_USERNAME:-admin}
      - ODL_ADMIN_PASSWORD=${SDNC_PASSWORD:-Kp8bJ4SXszM0WXlhak3eHlcse2gAw84vaoGGmJvUy2U}
      - SDNC_DB_INIT=true
      - SQL_CRYPTKEY=${SQL_CRYPTKEY:-fakECryptKey}
    volumes:
      - ./config/sdnc/certs/certs.properties:/opt/opendaylight/certs/certs.properties
      - ./config/sdnc/certs/keys0.zip:/opt/opendaylight/certs/keys0.zip
    profiles:
      - dmi-service
    healthcheck:
      test: "wget -q -O - --header 'Authorization: Basic YWRtaW46S3A4Yko0U1hzek0wV1hsaGFrM2VIbGNzZTJnQXc4NHZhb0dHbUp2VXkyVQ==' http://localhost:8181/restconf/operational/network-topology:network-topology || exit 1"
      interval: 10s
      timeout: 10s
      retries: 6
      start_period: 60s

  sdnc-sidecar: # This container runs a script to mount the PNFDemo node to SDNC, needed for CSITs.
    container_name: sdnc-sidecar
    image: alpine:latest
    volumes:
      - ./config/sdnc/check_sdnc_mount_node.sh:/root/check_sdnc_mount_node.sh
    command: sh /root/check_sdnc_mount_node.sh
    depends_on:
      sdnc:
        condition: service_healthy
      pnf-simulator:
        condition: service_healthy
    profiles:
      - dmi-service
    # Note: This container does not need a health-check as it immediately exits with status 0 or 1.

  sdnc-db:
    container_name: sdnc-db
    image: mariadb:10.5
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-password}
      - MYSQL_ROOT_HOST=%
      - MYSQL_USER=${MYSQL_USER:-sdnc}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-password}
      - MYSQL_DATABASE=${MYSQL_DATABASE:-sdncdb}
    profiles:
      - dmi-service
    healthcheck:
      test: healthcheck.sh --connect --innodb_initialized || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  pnf-simulator:
    container_name: pnf-simulator
    image: blueonap/netconf-pnp-simulator:v2.8.6
    restart: always
    ports:
      - 830:830
      - 6513:6513
    volumes:
      - ./config/pnfsim/netconf-config:/config/modules/stores
      - ./config/pnfsim/tls:/config/tls
    profiles:
      - dmi-service
    healthcheck:
      test: nc -z 127.0.0.1 6513 || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 30s

  policy-executor-stub:
    container_name: ${POLICY_EXECUTOR_STUB_CONTAINER_NAME:-policy-executor-stub}
    image: ${DOCKER_REPO:-nexus3.onap.org:10003}/onap/policy-executor-stub:latest
    ports:
      - ${POLICY_EXECUTOR_STUB_PORT:-8785}:8093
    restart: unless-stopped
    profiles:
      - policy-executor-stub
    # Note policy-executor-stub does not have a healthcheck as it does not expose /actuator/health endpoint

  prometheus:
    container_name: ${PROMETHEUS_CONTAINER_NAME:-prometheus}
    image: prom/prometheus:latest
    ports:
      - ${PROMETHEUS_PORT:-9090}:9090
    restart: always
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    environment:
      - PROMETHEUS_RETENTION_TIME=${PROMETHEUS_RETENTION_TIME:-30d}
    profiles:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: ${GRAFANA_CONTAINER_NAME:-grafana}
    depends_on:
      - prometheus
    ports:
      - ${GRAFANA_PORT:-3000}:3000
    volumes:
      - ./config/grafana/provisioning/:/etc/grafana/provisioning/
      - ./config/grafana/jvm-micrometer-dashboard.json:/var/lib/grafana/dashboards/jvm-micrometer-dashboard.json
      - ./config/grafana/inventory-dashboard.json:/var/lib/grafana/dashboards/inventory-dashboard.json
      - ./config/grafana/data-dashboard.json:/var/lib/grafana/dashboards/data-dashboard.json
      - ./config/grafana/postgresql-statistics-dashboard.json:/var/lib/grafana/dashboards/postgresql-statistics-dashboard.json
      - ./config/grafana/cps-database-pool.json:/var/lib/grafana/dashboards/cps-database-pool.json
      - grafana:/var/lib/grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_SERVER_DOMAIN=localhost
    profiles:
      - monitoring

  kafka-ui:
    container_name: ${KAFKA_UI_CONTAINER_NAME:-kafka-ui}
    image: provectuslabs/kafka-ui:latest
    ports:
      - ${KAFKA_UI_PORT:-8089}:8080
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: 'cps-kafka-local'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
    profiles:
      - monitoring

  jaeger-service:
    container_name: ${JAEGER_SERVICE_CONTAINER_NAME:-jaeger-service}
    image: jaegertracing/all-in-one:latest
    ports:
      - ${JAEGER_SERVICE_PORT:-16686}:16686
    restart: unless-stopped
    profiles:
      - tracing

  postgres-exporter:
    container_name: ${POSTGRES_EXPORTER_CONTAINER_NAME:-postgres-exporter}
    image: quay.io/prometheuscommunity/postgres-exporter
    environment:
      - DATA_SOURCE_NAME=postgresql://${DB_USERNAME:-cps}:${DB_PASSWORD:-cps}@${DB_CONTAINER_NAME:-dbpostgresql}:5432/postgres?sslmode=disable
    ports:
      - ${POSTGRES_EXPORTER_PORT:-9187}:9187
    depends_on:
      - dbpostgresql

volumes:
  grafana:
    driver: local
  prometheus_data:
    driver: local
