global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
- job_name: 'cps-and-ncmp-kpi'
  metrics_path: '/actuator/prometheus'
  scrape_interval: 5s
  static_configs:
    # If you want to inject Prometheus into particular containers, the targets should be provided similar to the following examples:
    # - 'docker-compose-cps-and-ncmp-1:8080'
    # - 'docker-compose-cps-and-ncmp-2:8080'
    - targets:
      - '172.17.0.1:8698'
      - '172.17.0.1:8699'

- job_name: 'cps-and-ncmp-endurance'
  metrics_path: '/actuator/prometheus'
  scrape_interval: 5s
  static_configs:
    # If you want to inject Prometheus into particular containers, the targets should be provided similar to the following examples:
    # - 'docker-compose-cps-and-ncmp-1:8080'
    # - 'docker-compose-cps-and-ncmp-2:8080'
    - targets:
        - '172.17.0.1:8798'
        - '172.17.0.1:8799'