server:
    port: 8080

rest:
    api:
        base-path: /cps/api

spring:
    main:
        banner-mode: "off"
# for POC only, later this should move to cpi-ri module
    jpa:
        ddl-auto: create
        open-in-view: false
        properties:
            hibernate:
                enable_lazy_load_no_trans: true
                dialect: org.hibernate.dialect.PostgreSQLDialect

    datasource:
        url: jdbc:postgresql://${DB_HOST}:5432/cpsdb
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
        driverClassName: org.postgresql.Driver
        initialization-mode: always

# Actuator
management:
    endpoints:
        web:
            base-path: /manage
            exposure:
                include: health,info,loggers
    endpoint:
        health:
            show-details: always
            # kubernetes probes: liveness and readiness
            probes:
                enabled: true
        looging:
            enabled: true

logging:
    level:
        org:
            springframework: INFO
