openapi: 3.0.1
info:
  title: ONAP Open API v3 Configuration Persistence Service
  description: Configuration Persistence Service is a Model Driven Generic Database
  version: "1.0.0"
  contact:
     name: ONAP
     url: "https://onap.readthedocs.io"
     email: "onap-discuss@lists.onap.org"
  license:
      name: "Apache 2.0"
      url: "http://www.apache.org/licenses/LICENSE-2.0"
  x-planned-retirement-date: "202212"
  x-component: "Modeling"
  x-logo:
      url: "cps_logo.png"

servers:
  - url: //localhost:8088
tags:
  - name: cps-admin
    description: cps Admin
  - name: cps-data
    description: cps Data 
paths:

  /v1/dataspaces:
    $ref: 'cpsAdmin.yml#/dataspaces'

  /v1/dataspaces/{dataspace-name}:
    $ref: 'cpsAdmin.yml#/dataspaceByDataspaceName'

  /v1/dataspaces/{dataspace-name}/anchors:
    $ref: 'cpsAdmin.yml#/anchorsByDataspace'

  /v1/dataspaces/{dataspace-name}/anchors/{anchor-name}:
    $ref: 'cpsAdmin.yml#/anchorByDataspaceAndAnchorName'

  /v1/dataspaces/{dataspace-name}/schema-sets:
    $ref: 'cpsAdmin.yml#/schemaSet'

  /v1/dataspaces/{dataspace-name}/schema-sets/{schema-set-name}:
    $ref: 'cpsAdmin.yml#/schemaSetBySchemaSetName'

  /v1/dataspaces/{dataspace-name}/anchors/{anchor-name}/node:
    $ref: 'cpsData.yml#/nodeByDataspaceAndAnchor'

  /v1/dataspaces/{dataspace-name}/anchors/{anchor-name}/nodes:
    $ref: 'cpsData.yml#/nodesByDataspaceAndAnchor'

  /v1/dataspaces/{dataspace-name}/anchors/{anchor-name}/list-node:
    $ref: 'cpsData.yml#/listNodeByDataspaceAndAnchor'

  /v1/dataspaces/{dataspace-name}/nodes:
    $ref: 'cpsData.yml#/nodesByDataspace'

  /v1/dataspaces/{dataspace-name}/anchors/{anchor-name}/nodes/query:
    $ref: 'cpsQuery.yml#/nodesByDataspaceAndAnchorAndCpsPath'