apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cps-and-ncmp.release-name" . }}
  labels:
    app: {{ include "cps-and-ncmp.name" . }}
    component: cps-and-ncmp
spec:
  replicas: {{ .Values.cps.replicas }}
  selector:
    matchLabels:
      app: {{ include "cps-and-ncmp.name" . }}
      component: cps
  template:
    metadata:
      labels:
        app: {{ include "cps-and-ncmp.name" . }}
        component: cps
    spec:
      serviceAccountName: cps-hazelcast-service-account
      initContainers:
        {{- toYaml .Values.cps.initContainers | nindent 8 }}
      containers:
        - name: cps
          image: "{{ .Values.cps.image.repository }}:{{ .Values.cps.image.tag }}"
          imagePullPolicy: {{ .Values.cps.image.pullPolicy }}
          ports:
            - containerPort: 8080
            - containerPort: 5701
          env:
            {{- range $envName, $envValue := .Values.cps.env }}
            - name: {{ $envName | upper }}
              value: "{{ $envValue }}"
            {{- end }}
            - name: CPS_NCMP_SERVICE_NAME
              value: cps-{{ include "cps-and-ncmp.name" . }}-hazelcast-service
          resources:
            {{- toYaml .Values.cps.resources | nindent 12 }}
          livenessProbe:
            # Give cps up to 175 second to become alive
            {{- toYaml .Values.cps.livenessProbe | nindent 12 }}
          readinessProbe:
            # After CPS is alive it can take up to 115 seconds to be ready for requests
            {{- toYaml .Values.cps.readinessProbe | nindent 12 }}
