apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cps-and-ncmp.fullname" . }}
  labels:
    app: {{ include "cps-and-ncmp.name" . }}
    component: cps-and-ncmp
spec:
  replicas: {{ .Values.cps.replicas }}
  selector:
    matchLabels:
      app: {{ include "cps-and-ncmp.name" . }}
      component: cps
  template:
    metadata:
      labels:
        app: {{ include "cps-and-ncmp.name" . }}
        component: cps
    spec:
      serviceAccountName: cps-hazelcast-service-account
