apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cps-and-ncmp.fullname" . }}-kafka
  labels:
    app: {{ include "cps-and-ncmp.name" . }}
    component: kafka
spec:
  replicas: {{ .Values.kafka.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "cps-and-ncmp.name" . }}
      component: kafka
  template:
    metadata:
      labels:
        app: {{ include "cps-and-ncmp.name" . }}
        component: kafka
    spec:
      containers:
        - name: kafka
          image: "{{ .Values.kafka.image.repository }}:{{ .Values.kafka.image.tag }}"
          imagePullPolicy: {{ .Values.kafka.image.pullPolicy }}
          ports:
            - containerPort: 29092
              name: internal
            - containerPort: 9092
              name: external
            - containerPort: 9093
              name: nodeport
          env:
            {{- range $key, $value := .Values.kafka.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          resources:
            {{- toYaml .Values.kafka.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.kafka.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.kafka.readinessProbe | nindent 12 }}
