apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cps-and-ncmp.release-name" . }}-postgresql
  labels:
    app: {{ include "cps-and-ncmp.name" . }}
    component: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "cps-and-ncmp.name" . }}
      component: postgresql
  template:
    metadata:
      labels:
        app: {{ include "cps-and-ncmp.name" . }}
        component: postgresql
    spec:
      containers:
        # --- Main Postgres container ---
        - name: postgresql
          image: "{{ .Values.postgresql.image }}"
          ports:
            - containerPort: 5432
          env:
            {{- range $envName, $envValue := .Values.postgresql.env }}
            - name: {{ $envName | upper }}
              value: "{{ $envValue }}"
            {{- end }}
          volumeMounts:
            - name: init-sql
              mountPath: {{ .Values.postgresql.initSql.mountPath }}
          resources:
            {{- toYaml .Values.postgresql.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.postgresql.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.postgresql.readinessProbe | nindent 12 }}

        # --- Postgres Exporter sidecar ---
        - name: postgres-exporter
          image: quay.io/prometheuscommunity/postgres-exporter:latest
          ports:
            - containerPort: 9187
              name: metrics
          env:
            - name: DATA_SOURCE_NAME
              value: "postgresql://{{ .Values.postgresql.env.POSTGRES_USER }}:{{ .Values.postgresql.env.POSTGRES_PASSWORD }}@localhost:5432/{{ .Values.postgresql.env.POSTGRES_DB }}?sslmode=disable"

      volumes:
        - name: init-sql
          configMap:
            name: {{ .Values.postgresql.initSql.configMapName }}
