apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cps-and-ncmp.release-name" . }}-zookeeper
  labels:
    app: {{ include "cps-and-ncmp.name" . }}
    component: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "cps-and-ncmp.name" . }}
      component: zookeeper
  template:
    metadata:
      labels:
        app: {{ include "cps-and-ncmp.name" . }}
        component: zookeeper
    spec:
      containers:
        - name: zookeeper
          image: "{{ .Values.zookeeper.image.repository }}:{{ .Values.zookeeper.image.tag }}"
          imagePullPolicy: {{ .Values.zookeeper.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.zookeeper.service.port }}
          env:
            {{- range $envName, $envValue := .Values.zookeeper.env }}
            - name: {{ $envName  | upper}}
              value: "{{ $envValue }}"
            {{- end }}
          resources:
            {{- toYaml .Values.zookeeper.resources | nindent 12 }}
          livenessProbe:
            {{- toYaml .Values.zookeeper.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.zookeeper.readinessProbe | nindent 12 }}
